header{
    position: fixed;
    width: 100%;
    background: -moz-linear-gradient(180deg, var(--gradient-start) 21%, var(--gradient-middle) 71%, var(--gradient-end) 100%);
    background: -webkit-linear-gradient(180deg, var(--gradient-start) 21%, var(--gradient-middle) 71%, var(--gradient-end) 100%);
    background: linear-gradient(180deg, var(--gradient-start) 21%, var(--gradient-middle) 71%, var(--gradient-end) 100%);
    z-index: 10;
}
.header-container{
    max-width: 1600px;
    width: 100%;
    margin: auto;
    display: flex;
    padding: 30px 100px;
    justify-content: space-between;
    align-items: center;

}


.logo{
    color: var(--logo);
    font-weight: 700;
    font-size: 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.pfp{
    margin-right: 10px;
    height: 60px;
    border-radius: 50%;
}

.nav-btns{
    display: flex;
}

.nav-links{
    width: 500px;
    height: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: var(--border-color);
    border-radius: 10px;
    position: relative;
}

.nav-links li{
    z-index: 2;
    width: 20%;
    height: 70%;
    margin: 7px;
    color: var(--text-color);
    transition: all 100ms;
}
.nav-links li:hover{
    color: var(--text-color-hover);
    scale: 1.05;
}

.nav-links li a{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    text-align: center;
    transition: all 200ms;
}

#link-bg{
    position: absolute;
    left: 0;
    background-color: var(--primary-color);
    width: 86px;
    height: 35px;
    border-radius: 7px;
    margin: 7px;
    transition: all 200ms ease-out;
}

.theme-switcher{
    color: white;
    margin-left: 10px;
    width: 50px;
    height: 50px;
    background-color: var(--primary-color);
    border-radius: 7px;
    border: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;

}

.verified{
    color: var(--primary-color);
    margin-left: 5px;
}


/* MobileHeader.css */
.mobile-header-container {
    
  }
  
  .hamburger-button {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: var(--primary-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    z-index: 10;
    position: fixed;
    top: 30px;
    right: 30px;
  }
  
  .bar {
    width: 20px;
    height: 3px;
    background-color: white;
    border-radius: 2px;
    margin: 2px 0;
  }

  .cross{
    width: 20px;
    height: 3px;
    background-color: white;
    border-radius: 2px;
    margin: 2px 0;
    transition: all 200ms;
  }

  .cross:nth-child(1){
    width: 25px;
    transform: rotate(45deg);
  }
  .cross:nth-child(2){
    width: 25px;
    transform: translateY(-6px) rotate(-45deg);
  }
  .cross:nth-child(3){
    display: none;
  }

  
  .menu-wrapper {
    background-color: var(--primary-color);
    z-index: 9;
    overflow: hidden; /* Prevent overflow during animation */
  }
  
  .mobile-nav {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }
  
  .mobile-nav ul {
    width: 200px;
    list-style: none;
    padding: 0;
    text-align: center;
  }
  
  .mobile-nav ul li {
    width: 200px;
    margin: 54px 0;
    display: flex;
    justify-content: center;
  }
  
  .mobile-nav ul li a {
    width: 200px;
    color: white;
    text-decoration: none;
    font-size: 3em;
    font-family: "Permanent Marker", cursive;
    font-weight: 500;
    cursor: pointer;
    display: block;
  }
  

  @media (max-width: 1024px) {
    .logo{
        font-size: 1.2rem;
    }

    .header-container{
        padding: 30px 50px;
    }

    .theme-switcher{
        font-size: 2rem;
    }
    
}

@media (max-width: 768px) {

.header-container{
    padding: 30px 30px;
}
}