.devider{
    height: 2px;
    background: var(--devider);
    width: 90%;
    max-width: 1600px;
    margin: auto;
  }

  @media (max-width: 1024px) {
    .icon{
      width: 50px!important;
      height: 50px!important;
    }
    }

